body {
    height: 100%;
    background-color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#dealerHand img {
    height: 200px;
    width: 125px;
    margin: 5px;
}

#playerHand img {
    height: 200px;
    width: 125px;
    margin: 5px;
}

.chips button {
    margin: 5px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: red;
}

.chips button img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}

#messages {
    background-color: white;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    color: black;
}